@tailwind base;
@tailwind components;
@tailwind utilities;

.text-huge {
  font-size: 16rem;
  line-height: 1;
}

.bullet-shadow {
  box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.8);
  -webkit-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.8);
}

.flipping-card:hover {
  transition: 500ms;
  transform: rotateY(180deg);
}